<div ng-controller="ContactCtrl">
  <h1>{{contact.title}}</h1>
  <div class="content">
    {{contact.content}}
    <div ng-controller="ContactFormCtrl">
    	
		<form class="form-horizontal" ng-submit="submit()">
		  
			<!-- Text input-->
			<div class="control-group">
			  <label class="control-label" for="text">Text Input</label>
			  <div class="controls">
			    <input type="text" ng-model="text" name="text" placeholder="placeholder" class="input-xlarge"/>
			  </div>
			</div>

		  
			<div class="control-group">
			  <div class="controls">
			    <input type="submit" id="submit" value="Submit" class="btn btn-primary" />
			  </div>
			</div>

		</form>
		<ul ng-repeat="data in list">
	        <li>{{data}}</li>
	    </ul>  
    </div>

  </div>
</div>

